{layout name="index" /}
<div class="container">  
	<form  method="post" action="{:app\\Common::url('/save')}">
    <div class="span">
    	<h3>我要评论</h3>
    	<div class="row">
	    	<div class="form-group">
                <label class="col-md-1 text-left" for="email">教室	</label>
                <div class="col-md-2" style="margin-left: -50px;">
                    <select class="form-control" name="classroom">
                    {volist name="Classrooms" id="Classroom"}
	                    <option >{$Classroom->getData('title')}</option>
                    {/volist}
                    </select>
                </div>
            </div>
            <div class="form-group" style="margin-top: -20px;">
                <label for="email" class="col-md-2 text-right">机号</label>
                <div class="col-md-2 text-left">
                    <input class="form-control" name="number" />
                </div>
            </div>
        </div>
        <br>
        <div class="row">
	        <div class="form-group">
	            <label for="name" class="col-md-1">邮箱</label>
	            <div class="col-md-2" style="margin-left: -50px;">
	                 <input class="form-control" name="email" type="email" type="email" id="name"></input>
	            </div>
	        </div>
	    </div>
        <br>

        <div class="row-fluid"> 
	        <label>评论内容：</label>
	          <p class="comment-form-comment">
	           
	            <textarea style="width:600px;" required="required" aria-required="true" rows="8" cols="45" name="comment"></textarea>
	          </p>
	     </div>
        <div class="row">
          	<div class="form-group">
	            <label for="name" class="col-md-1">验证码</label>
	            <div class="col-md-2" style="margin-left: -50px;">
	                 <input class="form-control" id="user_input_code" type="text" name="code" placeholder="请输入右侧的验证码"/>
                     
	            </div>
                <div class="col-md-2" style="margin-left:-20px;">
                    <input type="text" readonly="readonly" id="checkCode" class="code" style="width: 60px;" />
                    <p id="valid_failed"></p>
                </div>
	        </div>	
        </div> 
        <br>               
             
    </div>
    <input class="form-control" id="submit_comment" type="submit" disabled="true" name="submit" value="提交评论" style="width: 76px;">
          
	</form>
</div>
<!-- 生成验证码 -->
<script type="text/javascript">
    $(document).ready(function (){
        var    codeLength = 4;
        create_code(codeLength);
        change_code(codeLength);
        control_submit(codeLength);
        initial_blog_page();
    });

    function change_code(codeLength) {
        //更改验证码
        $("#checkCode").click(function () {
            create_code(codeLength);
        });
    }

    var code ;
    function create_code(codeLength){
        //生成验证码
        code = "";
        var checkCode = $("#checkCode");
        var selectChar = new Array(0,1,2,3,4,5,6,7,8,9,'A','B','C','D','E','F','G','H','I','J','K','L',
                    'M','N','O','P','Q','R','S','T','U','V','W','X','Y','Z');

        for(var i=0;i<codeLength;i++){
            var charIndex = Math.floor(Math.random()*36);
            code +=selectChar[charIndex];
        }
        if(checkCode){
            checkCode.addClass("code");
            checkCode.val(code);
        }
    }

    function verify_code (){
        //验证验证码
        var user_input_code = $("#user_input_code").val().toLowerCase().trim();
        if(user_input_code.length <=0){
            return false;
        } else if(user_input_code != code.toLowerCase()){
            return false;
        }
        return true;
    }

    function control_submit(codeLength) {
        //当验证码验证成功后，才允许提交评论
        $("#user_input_code").keyup(function () {
            var code_len = $("#user_input_code").val().trim().length
                if (code_len < codeLength) {
                    $("#valid_failed").text("");
                } else if (code_len > codeLength) {
                    $("#valid_failed").text("验证码错误");
              $("#submit_comment").attr("disabled", true);
               } else {
                    if (verify_code()) {
                        $("#submit_comment").attr("disabled", false);
         } else {
              $("#valid_failed").text("验证码错误");                   
          }
               }
        });
    }

    function initial_blog_page() {
        //防止从评论模块的perview页面后退到blog页面时，评论的提交按钮仍然维持disable=“false”状态
        $("#submit_comment").attr("disabled", true);
    }
</script>