{layout name="index" /}
<div class="text-right" style="padding-right:15px;">
	<a class="btn btn-default" href="{:url('@feedback/add')}" >我要反馈</a>
	</div>
	<div class="col-md-12 column">
	    <table class="table table-hover">
	        <thead>
	            <tr  class="info">
	                <th>
	                    编号
	                </th>
	                <th>
	                   	问题
	                </th>
	                <th>
	                    点击量
	                </th>
	                <th>
	                    评论
	                </th>
	                <th>发布时间</th>
	                {eq name="User->getData('user_group_name')" value="editor"}
	                <th>操作</th>
	                {/eq}
	            </tr>
	        </thead>
	        <tbody>
	            {volist name="FeedbackModels" id="FeedbackModel" key="key"}
	            <tr>
	                <td>
	                    {$key}
	                </td>
	                <td>
	                    <a href="{$FeedbackModel->id | $filterModels['href']->filter}">{$FeedbackModel->title | $filterModels['title']->filter}</a>
	                </td>
	                <td>{$FeedbackModel->hit}</td>
	                <td>2</td>
	                <td>
	                    {$FeedbackModel->update_time | $filterModels['date']->filter}
	                </td>
	                {eq name="User->getData('user_group_name')" value="editor"}
	                <td> <a href="{:url('@feedback/delete?id=' . $FeedbackModel->id)}" class="btn btn-default btn-sm"><i class="glyphicon glyphicon-trash"></i> 删除</a></td>
	                {/eq}
	            </tr>
	        {/volist}
	        </tbody>
	    </table>
	    {$FeedbackModels->render()}
	</div>