body {
    background-color: #ddd;
}

#headerlinks {
    background-color: #31429b;
    color: white;
    font-weight: bold;
}

#headerlinks .separators {
    padding: 4px 0px;
    font-size: 18px;
    font-weight: bold;
}

#headerlinks a {
    display: inline-block;
    color: white;
    padding: 4px 10px;
    font-size: 16px;
    text-decoration: none;
}

.clear {
    margin: 0px;
    padding: 0px;
    border: 0px;
    height: 0px;
    clear: both;
}

#menu {
    background: #31429b;
}

#menu a {
    color: white;
    display: block;
    padding: 6px 0px;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
}

#mu-footer {
    position: relative;
    right: 15px;
}

#mu-footer .mu-footer-top {
    background-color: #333;
    display: inline;
    float: left;
    padding: 50px 0;
}

#mu-footer .mu-footer-bottom {
    background-color: #222;
    display: inline;
    float: left;
    padding: 25px 0;
}

#mu-slider .mu-slider-single .mu-slider-img {
    height: auto;
}

.bg_white {
    background-color: white;
}

