body {
    background-color: #ddd;
}

#headerlinks {
    background-color: #31429b;
    color: white;
    font-weight: bold;
}

#headerlinks .separators {
    padding: 4px 0px;
    font-size: 18px;
    font-weight: bold;
}

#headerlinks a {
    display: inline-block;
    color: white;
    padding: 4px 10px;
    font-size: 16px;
    text-decoration: none;
}

.clear {
    margin: 0px;
    padding: 0px;
    border: 0px;
    height: 0px;
    clear: both;
}

#mu-footer {
    position: relative;
    right: 15px;
}

#mu-footer .mu-footer-top {
    background-color: #111B4E;
    display: inline;
    float: left;
    padding: 15px 0;
}

#mu-footer .mu-footer-bottom {
    background-color: #0B1234;
    display: inline;
    float: left;
    padding: 10px 0;
}

#mu-slider .mu-slider-single .mu-slider-img {
    height: auto;
}

.bg_white {
    background-color: white;
}

.mu-footer-bottom-area p {
    font-size:12px;
}

