<style>
    .subMenu {
        margin-right: 20px;
        padding:1px;
    }
    .subMenu ul li{
        border: 1px solid #ddd;
        border-left: 5px solid #113565;
        border-top:none;
    }

    .subMenu ul li:first-child {
        border-top:1px solid #ddd;
    }
    .subMenu ul li h5 {
        margin:0px;
        padding-left:5px;
    }
    .subMenu ul li h5 a {
        display: block;
        font-size:16px;
        line-height: 36px;
    }

    .subMenu ul li.active, .subMenu ul li:hover {
        background-color: #113565;
        border-left-color:#2f67b2;
    }

    .subMenu ul li:hover a {
        color: white;
    }
    .subMenu ul li.active a {
        color: white;
        font-weight: bold;
    }
</style>