<!DOCTYPE html>
<html lang="zh-hans">
{include file="../head"}

<body ng-app="body" class="container" style="width: 100%;">
    <div class="row">
        <div class="col-md-11">
            <h1>
            <span>河北工业大学计算机学院网站</span>
            <span class="badge">Version 1.0</span>
        </h1>
        </div>
        <div class="col-md-1 text-right">
            <a href="" role="button"></a>
            
        </div>
    </div>
    {yz:block position="menu" /} 
    {yz:block position="slider" /} 
    {yz:block position="breadCrumb" /}
    <!-- Start service  -->
    {__CONTENT__}
    <!-- End service  -->
    {yz:block position="main" /} {include file="../footer"}
</body>

</html>
