<style type="text/css">
#home_main {
    background-image: url({:__THEME__}/image/bg01.jpg);
    background-repeat: repeat;
    padding: 20px 0px;
}

#home_main h2 {
    font-family: "KaiTi", "STKaiti";
    font-weight: bold;
    margin: 10px 0px;
}

#home_main .link_lists{
    margin: 0px 20px;
}

#home_main .link_lists .list{
    margin: 5px 0px;
}

#home_main .day {
    margin-top:20px;
}
#home_main .day .row{
    margin-right: 0px;
}

#home_main .day_info {
    border: 2px solid #1590b8;
    padding: 0px;
}

#home_main .day_info .header{
    background-color: #1590b8;
    color: #fff;
    font-weight: bold;
    padding: 10px 0px;
}

#home_main .day_info .footer{
    padding: 14px 0px;
    color: #1590b8;
}

#home_main .categroy {
    color:#1d275b;
    font-weight: bold;
}

#home_main .date {
    color: #666;
}

#home_main h4 a{
    color: #9B8131;
}

#home_main .glyphicon{
    color: #A85E46;
}

#home_main img {
    width:100%;
}
</style>
