{layout name="index" /}
<div id="home_main">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h2 class="news"><span class="glyphicon glyphicon-tasks
" aria-hidden="true"></span>&nbsp;新闻</h2>
                <div class="row">
                    <?php for($i = 0; $i < 3; $i++) : ?>
                    <div class="col-md-4">
                        <img src="{:__THEME__}/image/img.jpg" class="img-rounded" />
                        <p class="small categroy">新闻类别</p>
                        <h4><a href="#">这里是新闻标题</a></h4>
                        <p>这里是新闻内容</p>
                        <p class="small text-right date">[2016-02-10]</p>
                    </div>
                    <?php endfor; ?>
                </div>
                <h2 class="info"><span class="glyphicon glyphicon-list-alt"></span>&nbsp;通知</h2>
                <?php for($i = 0; $i < 4; $i++) : ?>
                <div class="col-md-6 day">
                    <div class="row bg_white">
                        <div class="col-md-3 day_info text-center">
                            <div class="header">
                                周三
                            </div>
                            <div class="footer">
                                12月3日
                            </div>
                        </div>
                        <div class="col-md-9">
                            <h4><a href="#">这是标题</a></h4>
                            <p>这是内容,这是内容这是内容这是内容这是内容这是内容这是内容</p>
                        </div>
                    </div>
                </div>
                <?php endfor; ?>
            </div>
            <div class="col-md-4">
                <h2 class="links"><span class="glyphicon glyphicon-search"></span>&nbsp;快速链接</h2>
                <div class="row link_lists bg_white">
                    <?php for($i = 0; $i < 12; $i++) : ?>
                    <div class="col-md-6 text-center list">
                        <img src="{:__THEME__}/image/eg.png">
                        <p><a href="#">公示专区</a></p>
                    </div>
                    <?php endfor; ?>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row clearfix">
    <div class="col-md-3">
        {volist name="ContentModels" key="key" id="ContentModel"}
        <ul class="nav nav-list">
            <li>
                <a href="{$ContentModel->id | $filterModels['href']->filter}"><i class="glyphicon glyphglyphicon glyphicon-chevron-right"></i>{$ContentModel->title}<span style="float:right;">{$ContentModel->update_time}</span></a>
            </li>
        </ul>
        {/volist}
    </div>
    <div class="col-md-9">
        <div class="row">
            {volist name="ContentModels" id="ContentModel" key="key"}
            <div class="col-md-4">
                <div class="thumbnail">
                    <img alt="300x200" src="bootstrap-3.3.5-dist/image/people.jpg" />
                    <div class="caption">
                        <h3>
                            {$ContentModel->title | $filterModels['title']->filter}
                        </h3>
                        <p>
                            {foreach name="ContentModel->FieldXXXXModels()" id="_FieldXXXXModel"} {$ContentModel->substrArticle($_FieldXXXXModel->render('index'))} {/foreach}
                        </p>
                        <p>
                            <a class="btn btn-primary" href="{$ContentModel->id | $filterModels['href']->filter}">浏览</a>
                        </p>
                    </div>
                </div>
            </div>
            {/volist}
        </div>
    </div>
</div>
