{layout name="index" /}
<?php if (app\Common::getUpdateUrl() === '/tutecms/public/feedback.html'): ?>
<div class="text-right">
		<a class="btn btn-success text-right" href="{:__ROOT__}/feedback/add.html" type="button">我要反馈</a>
</div>
<table class="table table-hover table-bordered">
	<thead>
		<tr>
			<th>
				编号
			</th>
			<th>
				问题名称
			</th>
			<th>
				发布时间
			</th>
			<th>
				评论
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>
				1
			</td>
			<td>
				<a href="{:__ROOT__}/feedback/detail.html" >这是一个故障名称</a>
			</td>
			<td>
				01/04/2012
			</td>
			<td>
				2
			</td>
		</tr>
		<tr>
			<td>
				1
			</td>
			<td>
				<a href="{:__ROOT__}/feedback/detail.html" >这是一个很长很长的故障...</a>
			</td>
			<td>
				01/04/2012
			</td>
			<td>
				3
			</td>
		</tr>
		<tr>
			<td>
				2
			</td>
			<td>
				<a href="{:__ROOT__}/feedback/detail.html" >我的机器就是不好</a>
			</td>
			<td>
				02/04/2012
			</td>
			<td>
				55
			</td>
		</tr>
		<tr>
			<td>
				3
			</td>
			<td>
				<a href="{:__ROOT__}/feedback/detail.html" >这又是一个很长很长的反...</a>
			</td>
			<td>
				03/04/2012
			</td>
			<td>
				342
			</td>
		</tr>
		<tr>
			<td>
				4
			</td>
			<td>
				<a href="{:__ROOT__}/feedback/detail.html" >这是一个故障名称</a>
			</td>
			<td>
				04/04/2012
			</td>
			<td>
				4324
			</td>
		</tr>
	</tbody>
</table>
<ul class="pagination"  style="float: right;">
	<li>
		 <a href="#">上一页</a>
	</li>
	<li>
		 <a href="#">1</a>
	</li>
	<li>
		 <a href="#">2</a>
	</li>
	<li>
		 <a href="#">3</a>
	</li>
	<li>
		 <a href="#">4</a>
	</li>
	<li>
		 <a href="#">5</a>
	</li>
	<li>
		 <a href="#">下一页</a>
	</li>
</ul>
<br><br><br>	
<?php endif; ?>

<?php if (app\Common::getUpdateUrl() === '/tutecms/public/feedback/detail.html'): ?>
	<div class="container-fluid">
		<div class="row-fluid">
			<div>
				<h3>这是一个故障的反馈,为什么我的电脑总是这么这么卡？<small>2016-08-26</small></h3>
			</div>
			<hr>
			<div style="margin-left: 100px;">
				<div class="row-fluid">
					<div class="span8">
					<h4>来自阳光男孩的回答:</h4>
				</div>
				<div class="span4">
					<span style="position: absolute; right: 100px;">2016-10-24</span>
				</div>
				</div>
				</a>
				<p>河北工业大学梦云智软件开发团队成立于2014年12月。依托于计算机科学与软件学院，团队现拥有自身独立的实验室，经过一年多不懈的努力，团队学习氛围越来越浓厚，团队精神越来越多地被我们诠释。 自团队成立以来，已先后完成”“众筹海淘” 微信购物平台系统 、 “天职师大”绩效管理系统、“洛克酒店”管理系统、 “河北工业大学材料学院”论文送审系统、“一鑫教育”英语在线学习系统等项目。在项目的开发过程中，我们也深深的认识到团队发展中分工、合作及设计模式等方面的不足，并不断的在新技术、新模式领域进行探索。</p>
			</div>
			<br>
			<div style="margin-left: 100px;">
				<div class="row-fluid">
					<div class="span8">
					<h4>来自阳光男孩的回答:</h4>
				</div>
				<div class="span4">
					<span style="position: absolute; right: 100px;">2016-10-24</span>
				</div>
				</div>
				</a>
				<p>河北工业大学梦云智软件开发团队成立于2014年12月。依托于计算机科学与软件学院，团队现拥有自身独立的实验室，经过一年多不懈的努力，团队学习氛围越来越浓厚，团队精神越来越多地被我们诠释。 自团队成立以来，已先后完成”“众筹海淘” 微信购物平台系统 、 “天职师大”绩效管理系统、“洛克酒店”管理系统、 “河北工业大学材料学院”论文送审系统、“一鑫教育”英语在线学习系统等项目。在项目的开发过程中，我们也深深的认识到团队发展中分工、合作及设计模式等方面的不足，并不断的在新技术、新模式领域进行探索。</p>
			</div>
			<br>
			<div style="margin-left: 100px;">
				<div class="row-fluid">
					<div class="span8">
					<h4>来自阳光男孩的回答:</h4>
				</div>
				<div class="span4">
					<span style="position: absolute; right: 100px;">2016-10-24</span>
				</div>
				</div>
				</a>
				<p>河北工业大学梦云智软件开发团队成立于2014年12月。依托于计算机科学与软件学院，团队现拥有自身独立的实验室，经过一年多不懈的努力，团队学习氛围越来越浓厚，团队精神越来越多地被我们诠释。 自团队成立以来，已先后完成”“众筹海淘” 微信购物平台系统 、 “天职师大”绩效管理系统、“洛克酒店”管理系统、 “河北工业大学材料学院”论文送审系统、“一鑫教育”英语在线学习系统等项目。在项目的开发过程中，我们也深深的认识到团队发展中分工、合作及设计模式等方面的不足，并不断的在新技术、新模式领域进行探索。</p>
			</div>
		</div>
	</div>
	<ul class="pagination"  style="float: right;">
		<li>
			 <a href="#">上一页</a>
		</li>
		<li>
			 <a href="#">1</a>
		</li>
		<li>
			 <a href="#">2</a>
		</li>
		<li>
			 <a href="#">3</a>
		</li>
		<li>
			 <a href="#">4</a>
		</li>
		<li>
			 <a href="#">5</a>
		</li>
		<li>
			 <a href="#">下一页</a>
		</li>
	</ul>
	<br><br><br>
	<div class="container">  
	    <div class="span">
	    	<h3>我要评论</h3>
	    	<div class="row">
		    	<div class="form-group">
	                <label class="col-md-1 text-left" for="email">教室	</label>
	                <div class="col-md-2" style="margin-left: -50px;">
	                    <select class="form-control">
		                    <option>A701</option>
		                    <option>A702</option>
		                    <option>A802</option>
	                    </select>
	                </div>
	            </div>
	            <div class="form-group" style="margin-top: -20px;">
	                <label for="email" class="col-md-2 text-right">机号</label>
	                <div class="col-md-2 text-left">
	                    <input class="form-control" />
	                </div>
	            </div>
	        </div>
	        <br>
	        <div class="row">
		        <div class="form-group">
		            <label for="name" class="col-md-1">邮箱</label>
		            <div class="col-md-2" style="margin-left: -50px;">
		                 <input class="form-control" name="name" id="name"></input>
		            </div>
		        </div>
		    </div>
	        <br>

	        <div class="row-fluid"> 
		        <label>评论内容：</label>
		          <p class="comment-form-comment">
		           
		            <textarea style="width:600px;" required="required" aria-required="true" rows="8" cols="45" name="comment"></textarea>
		          </p>
		     </div>
	        <div class="row">
	          	<div class="form-group">
		            <label for="name" class="col-md-1">验证码</label>
		            <div class="col-md-2" style="margin-left: -50px;">
		                 <input class="form-control" name="name" id="name"></input>
		            </div>
		        </div>	
		        <img style="margin-top: -20px;" src="{:__ROOT__}/theme/tute/bootstrap-3.3.5-dist/image/QQ图片20161103161609.png"><a>看不清楚</a>
	        </div> 
	        <br>               
	        <button class="btn btn-success"><i class="glyphicon glyphicon-ok"></i> 提交</button>       
	    </div>
	</div>
<?php endif; ?>

<?php if (app\Common::getUpdateUrl() === '/tutecms/public/feedback/add.html'): ?>
    <div class="span">
    	<h3>我要评论</h3>
    	<div class="row">
	    	<div class="form-group">
                <label class="col-md-1 text-left" for="email">教室	</label>
                <div class="col-md-2" style="margin-left: -50px;">
                    <select class="form-control">
	                    <option>A701</option>
	                    <option>A702</option>
	                    <option>A802</option>
                    </select>
                </div>
            </div>
            <div class="form-group" style="margin-top: -20px;">
                <label for="email" class="col-md-2 text-right">机号</label>
                <div class="col-md-2 text-left">
                    <input class="form-control" />
                </div>
            </div>
        </div>
        <br>
        <div class="row">
	        <div class="form-group">
	            <label for="name" class="col-md-1">邮箱</label>
	            <div class="col-md-2" style="margin-left: -50px;">
	                 <input class="form-control" name="name" id="name"></input>
	            </div>
	        </div>
	    </div>
        <br>

        <div class="row-fluid"> 
	        <label>评论内容：</label>
	          <p class="comment-form-comment">
	           
	            <textarea style="width:600px;" required="required" aria-required="true" rows="8" cols="45" name="comment"></textarea>
	          </p>
	     </div>
        <div class="row">
          	<div class="form-group">
	            <label for="name" class="col-md-1">验证码</label>
	            <div class="col-md-2" style="margin-left: -50px;">
	                 <input class="form-control" name="name" id="name"></input>
	            </div>
	        </div>	
	        <img style="margin-top: -20px;" src="{:__ROOT__}/theme/tute/bootstrap-3.3.5-dist/image/QQ图片20161103161609.png"><a>看不清楚</a>
        </div> 
        <br>               
        <button class="btn btn-success"><i class="glyphicon glyphicon-ok"></i> 提交</button>       
    </div>
    <br>
<?php endif; ?>