{layout name="index" /}
<div class="container add-style" ng-app="app" ng-controller="courseController as vm">
<form method="post" action="{:app\\Common::url('/save')}">
<br><br><br>
<div class="row">
	<div class="control-group">
	    <label class="col-md-3 text-right">课程信息</label>
	    <div class="col-md-3">
	        <select class="form-control" name="course_id">
	        <option value="no">请选择</option>
	        {volist name="allInfo['course']" id="ChuhangCourseModel"}
	        	<option value="{$ChuhangCourseModel->getData('id')}">{$ChuhangCourseModel->getData('name')}</option>
        	{/volist}
	        </select>
	    </div>
	</div>
</div>
<br>
<div class="row">
	<div class="control-group">
	    <label class="col-md-3 text-right">教师</label>
	    <div class="col-md-3">
	        <select class="form-control" name="teacher_id">
	        <option value="no">请选择</option>
	        {volist name="allInfo['teacher']" id="ChuhangTeacherModel"}
	        	<option value="{$ChuhangTeacherModel->getData('id')}">{$ChuhangTeacherModel->getData('name')}</option>
        	{/volist}
	        </select>
	    </div>
	</div>
</div>
<br>
<div class="row">
	<div class="control-group">
	    <label class="col-md-3 text-right" for="_name">教室</label>
	    <div class="col-md-3">
	        <select class="form-control" name="classroom_id" ng-options="classroom.name for classroom in vm.allInfo.classroom" ng-change="vm.toggleSelectionClassroom()" ng-model="vm.selected" ng-controller="fooCtrl">
	        	<option value="">请选择</option>
	        </select>
	    </div>
	</div>
</div>
<br>
<div class="form-group row">
	<label class="col-md-3 text-right">班级</label>
	<div class="col-md-5">
		{volist name="allInfo['klass']" id="ChuhangKlassModel" key="key"}
		<input type="checkbox" type="text" id="_klass{$key}" name="klass[]" value="{$ChuhangKlassModel->getData('id')}" placeholder="姓名" /><label for="_klass{$key}">{$ChuhangKlassModel->getData('name')}</label>
		{/volist}
	</div>
</div>
<div class="form-group row">
	<label class="col-md-3 text-right">节次</label>
	<label ng-repeat="ChuhangTimeModel in vm.allInfo.time" ng-controller="fooCtrl">&nbsp;&nbsp;&nbsp;
		<input type="checkbox" type="text" name="time_id[]" value="{{ChuhangTimeModel.id}}" ng-click="vm.toggleSelectionTimes(ChuhangTimeModel)" ng-checked="vm.timeChecked.indexOf(ChuhangTimeModel.id) > -1" ng-model="time"/>第<span ng-bind="vm.nzhcn.encodeS($index + 1)"></span>节
	</label>
</div>

<div class="form-group row">
	<label class="col-md-3 text-right">星期</label>
	<label ng-repeat="ChuhangDayModel in vm.allInfo.day" ng-controller="fooCtrl">&nbsp;&nbsp;&nbsp;
		<input type="checkbox" type="text" name="day_id[]" value="{{ChuhangDayModel.id}}" ng-click="vm.toggleSelectionDays(ChuhangDayModel)" ng-checked="vm.dayChecked.indexOf(ChuhangDayModel.id) > -1" ng-model="day"/>星期<span ng-bind="vm.nzhcn.encodeS($index + 1)"></span>
	</label>
</div>
<div class="form-group row" ng-controller="fooCtrl as chu">
	<label class="col-md-3 text-right">周次</label>
	<div class="col-md-5">
	{volist name="allInfo['week']" id="week" key="key"}
	<input type="checkbox" type="text" id="_week{$key}" ng-disabled="week.includes(<?php echo $key; ?>)" name="week[]" placeholder="姓名" value="{$key}" /><label for="_week{$key}">第{$week}周</label>
	{/volist}
	</div>
</div><br>

<div class="row">
	<div class="col-md-4 text-right">
		<button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-ok"></i> 提交</button>
	</div>
</div>
</form>
</div>




