{layout name="index" /}
<div class="container add-style">
<form method="post" action="{:app\\Common::url('/save')}">
<br><br><br>
<div class="row">
	<div class="control-group">
	    <label class="col-md-3 text-right">课程信息</label>
	    <div class="col-md-3">
	        <select class="form-control" name="course_id">
	        <option value="no">请选择</option>
	        {volist name="allInfo['course']" id="ChuhangCourseModel"}
	        	<option value="{$ChuhangCourseModel->getData('id')}">{$ChuhangCourseModel->getData('name')}</option>
        	{/volist}
	        </select>
	    </div>
	</div>
</div>
<br>
<div class="row">
	<div class="control-group">
	    <label class="col-md-3 text-right">教师</label>
	    <div class="col-md-3">
	        <select class="form-control" name="teacher_id">
	        <option value="no">请选择</option>
	        {volist name="allInfo['teacher']" id="ChuhangTeacherModel"}
	        	<option value="{$ChuhangTeacherModel->getData('id')}">{$ChuhangTeacherModel->getData('name')}</option>
        	{/volist}
	        </select>
	    </div>
	</div>
</div>
<br>
<div class="row">
	<div class="control-group">
	    <label class="col-md-3 text-right" for="_name">教室</label>
	    <div class="col-md-3">
	        <select class="form-control" name="classroom_id">
	        <option value="no">请选择</option>
		        {volist name="allInfo['classroom']" id="ChuhangClassroomModel"}
		        	<option value="{$ChuhangClassroomModel->getData('id')}">{$ChuhangClassroomModel->getData('name')}</option>
	        	{/volist}
	        </select>
	    </div>
	</div>
</div>
<br>
<div class="form-group row">
	<label class="col-md-3 text-right">班级</label>
	<div class="col-md-5">
		{volist name="allInfo['klass']" id="ChuhangKlassModel" key="key"}
		<input type="checkbox" type="text" id="_klass{$key}" name="klass[]" value="{$ChuhangKlassModel->getData('id')}" placeholder="姓名" /><label for="_klass{$key}">{$ChuhangKlassModel->getData('name')}</label>
		{/volist}
	</div>
</div>
<div class="form-group row">
	<label class="col-md-3 text-right">节次</label>
	<div class="col-md-5">
		{volist name="allInfo['time']" id="ChuhangTimeModel" key="key"}
		<input type="checkbox" type="text" id="_time{$key}" name="time_id[]" {eq name="data['ve']" value="$key - 1" } checked="checked"  {/eq} value="{$ChuhangTimeModel->getData('id')}" /><label for="_time{$key}">第{$ChuhangTimeModel->getTime($ChuhangTimeModel->getData('time'))}节</label>
		{/volist}
	</div>
</div>	
<div class="form-group row">
	<label class="col-md-3 text-right">星期</label>
	<div class="col-md-5">
		{volist name="allInfo['day']" id="ChuhangDayModel" key="key"}
		<input type="checkbox" type="text" id="_day{$key}" name="day_id[]" {eq name="data['id'] + 1" value="$key" } checked="checked" {/eq} value="{$ChuhangDayModel->getData('id')}" placeholder="姓名" /><label for="_day{$key}">星期{$ChuhangDayModel->getDay($ChuhangDayModel->getData('day'))}</label>
		{/volist}
	</div>
</div>
<div class="form-group row">
	<label class="col-md-3 text-right">周次</label>
	<div class="col-md-5">
	{volist name="allInfo['week']" id="week" key="key"}
	<input type="checkbox" type="text" id="_week{$key}" name="week[]" placeholder="姓名" value="{$key}" /><label for="_week{$key}">第{$week}周</label>
	{/volist}
	</div>
</div><br>

<div class="row">
	<div class="col-md-4 text-right">
		<button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-ok"></i> 提交</button>
	</div>
</div>
</form>
</div>

