{layout name="index" /}
<div class="container content_list_index">
    <div class="row title">
        <div class="col-md-9 col-md-offset-3">
            <h3 class="text-center">{$currentMenuModel->getData('title')}</h3>
        </div>
    </div>
</div>

<section class="margin20-0px">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                {yz:block position="listLeft" /}
            </div>
            <div class="col-md-9">
                <div class="row">
                    {yz:access action="add"}
                    <div class="col-md-12 text-right">
                        <a class="btn-sm btn-primary" href="{:app\\Common::url('/add')}" class="text-right"><i class="glyphicon glyphicon-plus"></i></a>
                    </div>
                    {/yz:access}
                    {volist name="ContentModels" id="ContentModel" key="key"}
                    <div class="col-md-6">
                        <article class="row">
                            <div class="col-md-6 margin10-0px">
                                <img class="img-responsive img-rounded" src="{$ContentModel->FieldXXXXModel('image')->getUrl()}"/>
                            </div>
                            <div class="col-md-6">
                                <h4>
                                    {$ContentModel->title}
                                </h4>
                                <p>
                                    {yz:filter name="$ContentModel->FieldXXXXModel('body')->getData('value')"
                                    package="server\StringServer" function="subHtmlString" param="['length' => 42]" /}
                                </p>
                                <div class="col-md-12 text-right">
                                {yz:access action="edit"}
                                    <a class="btn-sm btn-primary" href="{:$ContentModel->getUrl('edit')}" class="text-right">编辑</a>
                                {/yz:access}
                                {yz:access action="delete"}
                                    <a class="btn-sm btn-warning" href="{:$ContentModel->getUrl('delete')}" class="text-right">删除</a>
                                {/yz:access}
                                </div>
                            </div>
                        </article>
                    </div>
                    {/volist}
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
