{layout name="index" /}
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12">
            <div class="text-right">
                {yz:access action="add"}
                <div class="text-right" style="padding-right:15px;">
                    <a class="btn btn-default" href="{yz:url action='add'}"><i class="glyphicon glyphicon-plus">新增</i></a>
                </div>
                {/yz:access}
            </div>
        </div>
        <div class="col-md-12 column">
            <table class="table table-hover">
                <thead>
                    <tr class="info">
                        <th>
                            编号
                        </th>
                        <th>
                            {eq name="$Url" value="news"} 新闻通知{else /}操作说明 {/eq}
                        </th>
                        <th>
                            点击量
                        </th>
                        <th>
                            发布时间
                        </th>
                        {eq name="User->getData('user_group_name')" value="editor"}
                        <th>操作</th>
                        {/eq}
                    </tr>
                </thead>
                <tbody>
                    {volist name="ContentModels" id="ContentModel" key="key"}
                    <tr>
                        <td>
                            {$key}
                        </td>
                        <td>
                            <a href="{yz:url action='read' param='$ContentModel->id'}">{$ContentModel->title | $filterModels['title']->filter}</a>
                        </td>
                        <td>{$ContentModel->hit}</td>
                        <td>
                            {$ContentModel->create_time | $filterModels['date']->filter}
                        </td>
                        {eq name="User->getData('user_group_name')" value="editor"}
                        <td>
                            <a href="{:url(" @$Url/delete?id=" . $ContentModel->id)}" class="btn btn-default btn-sm"><i class="glyphicon glyphicon-trash"></i> 删除</a>
                        </td>
                        {/eq}
                    </tr>
                    {/volist}
                </tbody>
            </table>
            {$ContentModels->render()}
        </div>
    </div>
</div>
