{layout name="index" /}
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12">
            <div class="text-right">
                {yz:access action="add"}
                <div class="text-right" style="padding-right:15px;">
                    <a class="btn btn-default" href="{yz:url action='add'}"><i class="glyphicon glyphicon-plus">新增</i></a>
                </div> 
                {/yz:access}
            </div>
        </div>
        <div class="col-md-12 column">
            <table class="table table-hover">
                <thead>
                    <tr class="info">
                        <th width="80%">
                            标题
                        </th>
                        <th width="10%" class="text-right">
                            点击量
                        </th>
                        <th width="10%">
                            发布时间
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {volist name="ContentModels" id="ContentModel" key="key"}
                    <tr>
                        <td>
                            <a href="{yz:url action='read' param='$ContentModel->id'}">{$ContentModel->getData('title')}</a>
                        </td>
                        <td class="text-right">{$ContentModel->hit}</td>
                        <td>
                            {$ContentModel->create_time | $filterModels['date']->filter}
                        </td>
                    </tr>
                    {/volist}
                </tbody>
            </table>
            <div class="text-center">
                {$ContentModels->render()}
            </div>
           
        </div>
    </div>
</div>
