<!DOCTYPE html>
<html lang="zh-hans">
{include file="../head"}
<body>
<div class="container" style="width: 1330px;">
	<div class="row">
		<div class="col-md-11">
			<h2>
			    <span>天职师大上机管理系统</span>
			    <span class="badge">Version 1.0</span>
			</h2>
		</div>
		<div class="col-md-1">
			<a href="./personalcenter">登陆</a>
		</div>
	</div>
    {yz:block position="menu" /} {yz:block position="slider" /} {yz:block position="breadCrumb" /} 
    <!-- Start service  -->
    {__CONTENT__}
    <!-- End service  -->
    {yz:block position="main" /}
    {include file="../footer"}
</div>
</body>

</html>
