{layout name="index" /}
<div id="home_main" class="main">
    <!--新闻通知-->
    <div class="container-fiuld bg01" id="news">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h2 class="news"><span class="glyphicon glyphicon-tasks
" aria-hidden="true"></span>&nbsp;院级新闻</h2>
                    <div class="row">
                        {volist name="newsContentModels" id="_newsContentModel"}
                        <div class="col-md-4">
                            <img src="{$_newsContentModel->FieldXXXXModel('image')->getUrl()}" class="img-rounded" height="150px"/>
                            <p class="small categroy">{$_newsContentModel->MenuModel()->getData('title')}</p>
                            <h4><a href="{$_newsContentModel->getReadUrl()}">{$_newsContentModel->getData('title')}</a>
                            </h4>
                            <p>{yz:filter name="$_newsContentModel->FieldXXXXModel('body')->getData('value')"
                                package="server\StringServer" function="subHtmlString" param="['length' => 54]" /}</p>
                            <p class="small text-right date">[{:date('Y-m-d',
                                $_newsContentModel->getData('update_time'))}]</p>
                        </div>
                        {/volist}
                    </div>
                </div>
                <div class="col-md-4">
                    <h2 class="info"><span class="glyphicon glyphicon-list-alt"></span>&nbsp;通知</h2>
                    {volist name="infoContentModels" id="_infoContentModel"}
                    <div class="col-md-12 day">
                        <div class="row bg_white">
                            <div class="col-md-3 day_info text-center">
                                <div class="header">
                                    周{yz:filter name="$_infoContentModel->getData('update_time')" package="DateFilter"
                                    function="getChineseWeek" /}
                                </div>
                                <div class="footer">
                                    {:date('m', $_infoContentModel->getData('update_time'))}月{:date('d',
                                    $_infoContentModel->getData('update_time'))}日
                                </div>
                            </div>
                            <div class="col-md-9">
                                <h4>
                                    <a href="{$_infoContentModel->getReadUrl()}">{$_infoContentModel->getData('title')}</a>
                                </h4>
                                <p>{yz:filter name="$_infoContentModel->FieldXXXXModel('body')->getData('value')"
                                    package="server\StringServer" function="subHtmlString" param="['length' => 26]"
                                    /}</p>
                            </div>
                        </div>
                    </div>
                    {/volist}
                </div>
            </div>
        </div>
    </div>
    <!--新闻通知 end -->

    <!-- 快速链接 -->
    <div class="container-fiuld" id="links">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="links-header"><span class="glyphicon glyphicon-search"></span>&nbsp;快速链接</h2>
                    <div class="row">
                        <div class="col-md-3 item">
                            <div class="links-item">
                                <img src="{:__THEME__}/image/20170215154324843153.jpeg">
                                <div class="mask" style="background-color: #a91010"></div>
                                <h3><a href="http://www.scse.hebut.edu.cn/category/for_all/quick_link/public_area">公示专区</a></h3>
                            </div>
                        </div>
                        <div class="col-md-3 item">
                            <div class="links-item">
                                <img src="{:__THEME__}/image/20170215154324843153.jpeg">
                                <div class="mask" style="background-color: #fe9d05"></div>
                                <h3><a href="http://mail.scse.hebut.edu.cn/">学院邮箱</a></h3>
                            </div>
                        </div>
                        <div class="col-md-3 item">
                            <div class="links-item">
                                <img src="{:__THEME__}/image/20170215154324843153.jpeg">
                                <div class="mask" style="background-color: #cf5829"></div>
                                <h3><a href="http://www.scse.hebut.edu.cn/category/for_all/quick_link/generator_schedule">机房课表</a></h3>
                            </div>
                        </div>
                        <div class="col-md-3 item">
                            <div class="links-item">
                                <img src="{:__THEME__}/image/20170215154324843153.jpeg">
                                <div class="mask" style="background-color: #21c750"></div>
                                <h3><a href="http://www.scse.hebut.edu.cn/category/for_all/quick_link/test_area">国考专区</a></h3>
                            </div>
                        </div>
                        <div class="col-md-3 item">
                            <div class="links-item">
                                <img src="{:__THEME__}/image/20170215154324843153.jpeg">
                                <div class="mask" style="background-color: #4A4AFF"></div>
                                <h3><a href="http://kcsj.hebut.edu.cn/admin/login.zul;jsessionid=BC92C4561971AB3DEC7EFD5494145A5A">课程实践</a></h3>
                            </div>
                        </div>
                        <div class="col-md-3 item">
                            <div class="links-item">
                                <img src="{:__THEME__}/image/20170215154324843153.jpeg">
                                <div class="mask" style="background-color: #5B5B5B"></div>
                                <h3><a href="http://115.24.161.32/admin/login.zul;jsessionid=87CC32CF2072E921474E951A55AED244">教学管理</a></h3>
                            </div>
                        </div>
                        <div class="col-md-3 item">
                            <div class="links-item">
                                <img src="{:__THEME__}/image/20170215154324843153.jpeg">
                                <div class="mask" style="background-color: #820041"></div>
                                <h3><a href="http://iscs.hebut.edu.cn/login/index.html">信息服务</a></h3>
                            </div>
                        </div>
                        <div class="col-md-3 item">
                            <div class="links-item">
                                <img src="{:__THEME__}/image/20170215154324843153.jpeg">
                                <div class="mask" style="background-color: #B15BFF"></div>
                                <h3><a href="http://gd.hebut.edu.cn/">毕设系统</a></h3>
                            </div>
                        </div>
                        <div class="col-md-3 item">
                            <div class="links-item">
                                <img src="{:__THEME__}/image/20170215154324843153.jpeg">
                                <div class="mask" style="background-color: #00AEAE"></div>
                                <h3><a href="http://www.scse.hebut.edu.cn/for_all/quick_link/new_media">新媒体</a></h3>
                            </div>
                        </div>
                        <div class="col-md-3 item">
                            <div class="links-item">
                                <img src="{:__THEME__}/image/20170215154324843153.jpeg">
                                <div class="mask" style="background-color: #FF359A"></div>
                                <h3><a href="http://www.scse.hebut.edu.cn/category/for_all/quick_link/application">应用下载</a></h3>
                            </div>
                        </div>
                        <div class="col-md-3 item">
                            <div class="links-item">
                                <img src="{:__THEME__}/image/20170215154324843153.jpeg">
                                <div class="mask" style="background-color: #0000C6"></div>
                                <h3><a href="http://www.scse.hebut.edu.cn/contact">联系我们</a></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--快速链接 end-->

    <!--照片墙-->
    <div class="container-fiuld bg01" id="photowall">
        <div class="container">
            <div class="row header">
                <div class="col-md-8 text-center pictrue">
                    <img src="{:__THEME__}/image/index_tu01.jpeg" alt="">
                </div>
                <div class="col-md-4">
                    <p>这里是照片墙的介绍：岁月的车辙碾过了一百二十次，校园中恒久耸立的是河北工业大学计算机科学与软件学院代代相传的不朽精神，这精神是民族经天纬地的丰碑,扎根百二十年沃土，直指高渺云天。 </p>
                </div>
            </div>
            <!--照片墙-->
            <div class="row body">
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-6 pic"><img src="{:__THEME__}/image/lou.png" alt="">
                        </div>
                        <div class="col-md-6 pic"><img src="{:__THEME__}/image/lou2.png" alt="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 pic">
                            <img src="{:__THEME__}/image/W020170219410489374886.jpeg" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-6 pic">
                            <img src="{:__THEME__}/image/ren.png" alt="">
                        </div>
                        <div class="col-md-6 pic">
                            <img src="{:__THEME__}/image/W020170417573413328487.jpg" alt="">
                        </div>
                        <div class="col-md-6 pic">
                            <img src="{:__THEME__}/image/banner01.jpg" alt="">
                        </div>
                        <div class="col-md-6 pic">
                            <img src="{:__THEME__}/image/W020170417575331418111.jpg" alt="">
                        </div>
                        <div class="col-md-6 pic">
                            <img src="{:__THEME__}/image/W020170201475470819752.jpeg" alt="">
                        </div>
                        <div class="col-md-6 pic">
                            <img src="{:__THEME__}/image/IMG_7506.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-12 pic">
                            <img src="{:__THEME__}/image/W020170219410489374886.jpeg"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 pic">
                            <img src="{:__THEME__}/image/W020170219413336353562.jpeg"/>
                        </div>
                    </div>
                </div>
            </div>
            <!--照片墙 end-->
        </div>
    </div>
    <!--照片墙end-->

</div>