{layout name="index" /}
<br><br>
<div class="row clearfix">
    <div class="col-md-12 column">
        <div class="row">
        {volist name="ContentModels" id="ContentModel" key="key"}
            <div class="col-md-4">
                <div class="thumbnail">
                    <img alt="300x200" src="bootstrap-3.3.5-dist/image/people.jpg" />
                    <div class="caption">
                        <h3>
                            {$ContentModel->title | $filterModels['title']->filter}
                        </h3>
                        <p>
                            {foreach name="ContentModel->FieldXXXXModels()" id="_FieldXXXXModel"}
                                {$_FieldXXXXModel->render('index')}
                            {/foreach}
                        </p>
                        <p>
                             <a class="btn btn-primary" href="{$ContentModel->id | $filterModels['href']->filter}">浏览</a>
                        </p>
                    </div>
                </div>
            </div>
        {/volist}
        </div>
    </div>
</div>
