{layout name="index" /}

<div class="row clearfix">
    <div class="col-md-3">
        <div class="text-right read-more-wrap">
            <a href="news.html">了解更多 » </a>
        </div>
        {volist name="newsContentModels" key="key" id="ContentModel"}
        <ul class="nav nav-list">
            <li>
                <a href="{$ContentModel->id | $filterModels['href']->filter}"><i class="glyphicon glyphglyphicon glyphicon-chevron-right"></i>{$ContentModel->title}<span style="float:right;">{$ContentModel->update_time}</span></a>
            </li>
        </ul>
        {/volist}
    </div>
    <div class="col-md-9">
        <div class="row">
            {volist name="newsContentModels" id="ContentModel" key="key"}
            <div class="col-md-4">
                <div class="thumbnail">
                    <img alt="300x200" src="bootstrap-3.3.5-dist/image/people.jpg" />
                    <div class="caption">
                        <h3>
                            {$ContentModel->title | $filterModels['title']->filter}
                        </h3>
                        <p>
                            {foreach name="ContentModel->FieldXXXXModels()" id="_FieldXXXXModel"} {$ContentModel->substrArticle($_FieldXXXXModel->render('index'))} {/foreach}
                        </p>
                        <p>
                            <a class="btn btn-primary" href="{$ContentModel->id | $filterModels['href']->filter}">浏览</a>
                        </p>
                    </div>
                </div>
            </div>
            {/volist}
        </div>
    </div>
</div>
