{layout name="index" /}
<section class="main">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center">{$ContentModel->getData('title')}</h2>
                <h5 class="text-center">作者：{$ContentModel->UserModel()->getData('name')}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;点击量：{$ContentModel->getData('hit')}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;发布时间：{:date('Y-m-d', $ContentModel->getData('create_time'))}</h5>
                <!-- start contact content -->
                <div class="mu-contact-content">
                    {yz:access action="edit"}
                    <div class="row">
                        <div class="col-md-12 text-right">
                            <a href="{:app\\Common::url('/edit')}">编辑</a>
                        </div>
                    </div>
                    {/yz:access}
                    <div class="row">
                        <div class="col-md-12">
                            {foreach name="ContentModel->FieldXXXXModels()" id="_FieldXXXXModel"}
                            <div>
                            {:$_FieldXXXXModel->render('index')}
                            </div>
                            {/foreach}
                        </div>
                    </div>
                </div>
                <!-- end contact content -->
            </div>
        </div>
    </div>
</section>
