{layout name="index" /}
<div class="row clearfix term-top page-responsive" ng-app="term">
    <div class="col-md-3 column">
        {include file="../curriculum/left" }
    </div>

    <form action="{yz:url action='save'}" method="post">
    <div class="col-md-9">
    	<div class="row">
            <div class="control-group">
                <label class="col-md-3 text-right" for="_name">学期名称</label>
                <div class="col-md-3">
                    <input type="text" class="form-control" name="name"  />
                </div>
            </div>
        </div>
        <br>
        <div class="row">
    		<div class="control-group">
    		    <label class="col-md-3 text-right" for="_name">起始日期</label>
    		    <div class="col-md-3">
    		        <input type="date" name="start_time" class="form-control" />
    		    </div>
    		</div>
    	</div>
    	<br>
    	<div class="row">
    		<div class="control-group">
    		    <label class="col-md-3 text-right" for="_name">终止日期</label>
    		    <div class="col-md-3">
    		        <input type="date" name="end_time" class="form-control" />
    		    </div>
    		</div>
    	</div>
        <br>
        <div class="row">
            <div class="control-group">
                <label class="col-md-3 text-right" for="_name">启&nbsp;&nbsp;用</label>
                <div class="col-md-3">
                    <input type="radio" name="status" value="1" id="sex0" /><label for="sex0">是</label>&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="radio" name="status" value="0" id="sex1" checked="checked" /><label for="sex1">否</label>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="control-group">
                <label class="col-md-3 text-right" for="_name">节次/天</label>
                <div class="col-md-3">
                    <input type="number" min="1" max="10" name="time" value="4" class="form-control" />
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="control-group">
                <label class="col-md-3 text-right" for="_name">天数/周</label>
                <div class="col-md-3">
                    <input type="number" min="1" max="7" name="day" value="5" class="form-control" />
                </div>
            </div>
        </div>
    </div>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <div class="row" ng-controller="priodController">
    	<div class="col-md-6 text-center">
    		<button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-ok"></i> 提交</button>
    	</div>
    </div>
    </form>
</div>
