{layout name="index" /}
<div class="row" ng-controller="MenuIndexCtrl">
    <div class="span16">
        <div class="box pattern pattern-sandstone">
            <div class="box-header">
                <i class="icon-table"></i>
                <h5>
                菜单列表
                </h5>
            </div>
            <script id="recursion" type="text/ng-template">
                <ul ng-repeat="menu in MenuModelTree">
                    <li>
                        <span ng-click="togleChildren(menu)" ng-show="menu._child.length" class="expansion">{{menu | expansion}}</span>
                        <span class="col"><a ng-show="menu._child.length" href="{:url('index')}?pid={{menu.id}}" ng-bind="menu.title"></a><span ng-hide="menu._child.length" ng-bind="menu.title"></span></span>
                        <span class="col"><a href="{:url('edit')}?id={{menu.id}}">修改</a></span>
                        <span class="col"><a href="{:url('delete')}?id={{menu.id}}">删除</a></span>
                        <span class="col"><a href="{:url('create')}?pid={{menu.id}}">增加子菜单</a></span>
                    </li>
                    
                    <ul ng-if="menu._child.length" ng-include="'recursion'" ng-init="MenuModelTree=menu._child" ng-show="isShow(menu)"></ul>
                </ul>
            </script>
            <div ng-include="'recursion'" class="menuIndex"></div>
        </div>
    </div>
</div>


