{layout name="index" /}
<div class="row">
    <div class="col-md-10">
        <form class="form-inline" action="{:url()}" method="get">
	        <div class="col-md-6">
            <label>教室</label>
            <select class="form-control" style="width:130px;" name="category_id">
            <option>A702</option>
            <option>A801</option>
            <option>A802</option>
            </select>
          </div>
          <div class="col-md-3">
	        	<label>周次</label>
	        	<select class="form-control" style="width:130px;" name="category_id">
	        	<option>第一周</option>
	        	<option>第二周</option>
	        	<option>第三周</option>
	        	</select>
	        </div>
          <button type="submit" style="margin-left:-80px;" class="btn btn-default"><i class="glyphicon glyphicon-search"></i>查询</button>
        </form>
    </div>
    {eq name="User->getData('user_group_name')" value="editor"}
    <div class="col-md-2 text-right">
      <a href="{:url('@course/read')}" class="btn btn-default">课表编辑</a>
    </div>
    {/eq}
</div>
<hr>
<table class="table table-bordered table-hover">
  <thead>
      <tr>
      	  <th width="40px;">  </th>
          <th width="228px;">周一</th>
          <th width="228px;">周二</th>
          <th width="228px;">周三</th>
          <th width="228px;">周四</th>
          <th width="228px;">周五</th>
      </tr>
  </thead>
  <tbody>
      <tr>
          <td>第一节</td>
         {volist name="results[1]" id="result" key="key"}
          <td>{$result->name}</td>
          {/volist}
      </tr>
      <tr>
          <td>第一节</td>
         {volist name="results[2]" id="result" key="key"}
          <td>{$result->name}</td>
          {/volist}
      </tr>
      <tr>
          <td>第一节</td>
         {volist name="results[3]" id="result" key="key"}
          <td>{$result->name}</td>
          {/volist}
      </tr>
      <tr>
          <td>第一节</td>
         {volist name="results[4]" id="result" key="key"}
          <td>{$result->name}</td>
          {/volist}
      </tr>
  </tbody>
  <tbody>

</table>
