{layout name="index" /}
<div class="row">
    <div class="col-md-10">
        <form class="form-inline" action="{:url()}" method="get">
        <div class="col-md-3">
           <label>教室</label>
           <select class="form-control" style="width:130px;" name="category_id">
           <option>A702</option>
           <option>A801</option>
           <option>A802</option>
           </select>
         </div>
          <button type="submit" style="margin-left:-75px;" class="btn btn-default"><i class="glyphicon glyphicon-search"></i>查询</button>
        </form>
    </div>
    <div class="col-md-2 text-right">
      <a class="btn btn-default" href="{:url("@course/read/add")}" ><i class="glyphicon glyphicon-plus">新增</i></a>
    </div>
</div>
<hr>
<table class="table table-bordered table-hover">
  <thead>
      <tr>
          <th width="40px;">  </th>
          <th width="228px;">周一</th>
          <th width="228px;">周二</th>
          <th width="228px;">周三</th>
          <th width="228px;">周四</th>
          <th width="228px;">周五</th>
      </tr>
  </thead>
  <tbody>
      <tr>
          <td>第一节</td>
         {volist name="results[1]" id="result" key="key"}
          <td>物流管理 第二教学楼203 赵丽华 1、2、3、4、6、7、8、9周   |   电商管理 第二教学楼203 赵丽华 11、12、13、14、16、17、18、19周
          <a href="{:url('@course/edit')}" class="btn btn-default" style="margin-left: 51px;margin-top: 10px;">编辑</a></td>
          {/volist}
      </tr>
      <tr>
          <td>第一节</td>
         {volist name="results[2]" id="result" key="key"}
          <td>物流管理 第二教学楼203 赵丽华 1、2、3、4、6、7、8、9周<a href="{:url('@course/edit')}" class="btn btn-default" style="margin-left: 51px;margin-top: 10px;">编辑</a></td>
          {/volist}
      </tr>
      <tr>
          <td>第一节</td>
         {volist name="results[3]" id="result" key="key"}
          <td>{$result->name}<a href="{:url('@course/edit')}" class="btn btn-default" style="margin-left: 51px;margin-top: 10px;">编辑</a></td>
          {/volist}
      </tr>
      <tr>
          <td>第一节</td>
         {volist name="results[4]" id="result" key="key"}
          <td>{$result->name}<a href="{:url('@course/edit')}" class="btn btn-default" style="margin-left: 51px;margin-top: 10px;">编辑</a></td>
          {/volist}
      </tr>
  </tbody>
  <tbody>

</table>
<div class="col-md-12 text-right">
  <a href="{:url('@course/read')}" class="btn btn-default">教室编辑</a>
</div>