<!-- Start about us -->
<section id="mu-about-us" 
style="background:url({:__ROOT__}/image/bg.png);height:560px;margin-top:-80px;">
    <div class="container">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-8">
            		<div class="row">
            			<div class="col-md-12">
            				<img src="{:__ROOT__}/image/电脑小图标.png" style="margin-right:20px" alt="">
            				<img src="{:__ROOT__}/image/news.png" alt="">
            			</div>
            		</div>
            		<div class="row" style="margin-bottom:10px">
            			<div class="col-md-12">
            				<div style="height:180px;width:220px;background:#fffcf2;float:left;margin-right:10px"></div>
            				<div style="height:180px;width:220px;background:#fffcf2;float:left;margin-right:10px"></div>
            				<div style="height:180px;width:220px;background:#fffcf2;float:left"></div>
            			</div>
            		</div>
            		<div class="row">
            			<div class="col-md-12">
            				<img src="{:__ROOT__}/image/通知.png" style="margin-right:20px" alt="">
            				<img src="{:__ROOT__}/image/notice.png" alt="">
            			</div>
            		</div>
            	<div class="row">
            		<div class="col-md-5">
            			<div style="background:url({:__ROOT__}/image/date.png);width:299px;height:85px;margin-bottom:10px"></div>
            			<div style="background:url({:__ROOT__}/image/date.png);width:299px;height:85px"></div>
            		</div>
            		<div class="col-md-7">
            			<div style="background:url({:__ROOT__}/image/date.png);width:299px;height:85px;margin-bottom:10px;margin-left:53px"></div>
            			<div style="background:url({:__ROOT__}/image/date.png);width:299px;height:85px;margin-left:53px"></div>
            		</div>
            	</div>
            </div>
            <div class="col-md-3" >
            	<div class="row">
            			<div class="col-md-12">
            				<img src="{:__ROOT__}/image/放大镜.png" style="margin-right:2px" alt="">
            				<img src="{:__ROOT__}/image/quickLink.png" alt="">
            			</div>
            	</div>
            	<div class="row">
            		<div class="col-md-12">
            			<div style="width:260px;height:410px;background:#fff;"></div>
            		</div>
            	</div>
            </div>
            
        </div>
    </div>
</section>
<!-- End about us -->
