{layout name="index" /}
{:app\\Common::getUpdateUrl()}
<div class="">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<table class="table table-hover">
				<thead>
					<tr  class="info">
						<th>
							编号
						</th>
						<th>
							新闻标题
						</th>
						<th>
							点击量
						</th>
						<th>
							发布时间
						</th>
					</tr>
					</thead>
				<tbody>
					<tr>
						<td>
							1
						</td>
						<td>
							<a href="news/school.html">这是一个新闻标题</a>
						</td>
						<td>5</td>
						<td>
							01/04/2012
						</td>
					</tr>
					<tr>
						<td>
							2
						</td>
						<td>
							<a href="newsDetail.html">学院动态</a>
						</td>
						<td>521</td>
						<td>
							01/04/2012
						</td>
					</tr>
					<tr>
						<td>
							3
						</td>
						<td>
							<a href="newsDetail.html">这是一个很长很长的新闻标题...</a>
						</td>
						<td>7865</td>
						<td>
							01/04/2012
						</td>
					</tr>
					<tr>
						<td>
							4
						</td>
						<td>
							<a href="newsDetail.html">学院的新闻</a>
						</td>
						<td>133</td>
						<td>
							01/04/2012
						</td>
					</tr>
					<tr>
						<td>
							5
						</td>
						<td>
							<a href="newsDetail.html">这依然是一个很长很长的标题...</a>
						</td>
						<td>52</td>
						<td>
							01/04/2012
						</td>
					</tr>
				</tbody>
			</table>
			<ul class="pagination" style="float: right;">
				<li>
					 <a href="#">上一页</a>
				</li>
				<li>
					 <a href="#">1</a>
				</li>
				<li>
					 <a href="#">2</a>
				</li>
				<li>
					 <a href="#">3</a>
				</li>
				<li>
					 <a href="#">4</a>
				</li>
				<li>
					 <a href="#">5</a>
				</li>
				<li>
					 <a href="#">下一页</a>
				</li>
			</ul>
		</div>
	</div>
</div>	