{layout name="index" /}
<div class="container">
	<form method="post" action="{:app\\Common::url('/save')}">
	<div class="form-group">
		<div class="row">
		<div class="col-md-3">
			<label>文章标题</label>
			<input class="form-control" name="title" />
		</div>
		</div>
	<div class="row">
		<div class="col-md-12">
	    <label >文章内容</label>
	    <textarea id="12" name="fds" cols="100" rows="30">
	       <p> fsdf</p>
	    </textarea>
	  	</div>
	    <br />
	</div>
	<br>
	<div class="row">
		<div class="col-md-4">
			<button type="submit">提交</button>
		</div>
	</div>
	</div>
</div>