{layout name="index" /}
<section id="mu-contact">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- start contact content -->
                <div class="mu-contact-content">
                    <div class="row">
                        <div class="col-md-12">
                            <form action="{yz:url action='update' }" method="post">
                            <div>
                                <label>标题:</label>
                                <input type="hidden" name="id" value="{$ContentModel->getData('id')}" />
                                <input type="text" class="form-control" name="title" value="{$ContentModel->getData('title')}" style="width:260px;" />
                            </div>
                            <div class="col-md-12">
                                {yz:plugin position="beforeContent" object="ContentModel"}
                            </div>
                                {foreach name="ContentModel->FieldXXXXModels()" id="_FieldModel"}
                                <div>
                                {:$_FieldModel->render('edit')}
                                </div>
                                {/foreach}
                                <br>
                                <button class="btn btn-default"> 提交</button>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- end contact content -->
            </div>
        </div>
    </div>
</section>
