{layout name="index" /}
<div class="row clearfix">
    <div class="text-right">
        {eq name="User->getData('user_group_name')" value="editor"}
        <?php if (app\Common::getUpdateUrl() === '/tutecms/public/inductive.html'): ?>
        <div class="text-right" style="padding-right:15px;">
            <a class="btn btn-default" href="{:url('@inductive/add')}" ><i class="glyphicon glyphicon-plus">新增</i></a>
        </div>
        <?php endif; ?>
        <?php if (app\Common::getUpdateUrl() === '/tutecms/public/news.html'): ?>
            <div class="text-right" style="padding-right:15px;">
            <a class="btn btn-default" href="{:url('@news/add')}" ><i class="glyphicon glyphicon-plus">新增</i></a>
        </div>
        <?php endif; ?>
        {/eq}
    </div>
    <div class="col-md-12 column">
        <table class="table table-hover">
            <thead>
                <tr  class="info">
                    <th>
                        编号
                    </th>
                    <th>
                        <?php if (app\Common::getUpdateUrl() === '/tutecms/public/inductive.html'): ?>操作说明<?php endif; ?>
                        <?php if (app\Common::getUpdateUrl() === '/tutecms/public/news.html'): ?>新闻通知<?php endif; ?>
                    </th>
                    <th>
                        点击量
                    </th>
                    <th>
                        发布时间
                    </th>
                    {eq name="User->getData('user_group_name')" value="editor"}
                    <th>操作</th>
                    {/eq}
                </tr>
            </thead>
            <tbody>
            {volist name="ContentModels" id="ContentModel" key="key"}
                <tr>
                    <td>
                        {$key}
                    </td>
                    <td>
                        <a href="{$ContentModel->id | $filterModels['href']->filter}">{$ContentModel->title | $filterModels['title']->filter}</a>
                    </td>
                    <td>{$ContentModel->hit}</td>
                    <td>
                        {$ContentModel->update_time | $filterModels['date']->filter}
                    </td>
                    {eq name="User->getData('user_group_name')" value="editor"}
                    <td>
                    <?php if (app\Common::getUpdateUrl() === '/tutecms/public/news.html'): ?>
                    <a href="{:url('@news/delete?id=' . $ContentModel->id)}" class="btn btn-default btn-sm">删除</a>
                    <?php endif; ?>  
                    <?php if (app\Common::getUpdateUrl() === '/tutecms/public/inductive.html'): ?>
                    <a href="{:url('@inductive/delete?id=' . $ContentModel->id)}" class="btn btn-default btn-sm">删除</a>
                    <?php endif; ?>   
                    </td>
                    {/eq}
                </tr>
            {/volist}
            </tbody>
        </table>
        {$ContentModels->render()}
    </div>
</div>
